<div id="footer">
    <div class="footerinner">
        <ul class="footer-vip clear">
            <li>
                <i class="footer-ico01">中国第三</i>
            </li>
            <li>
                <i class="footer-ico02">全球直采</i>
            </li>
            <li>
                <i class="footer-ico03">一手货源</i>
            </li>
            <li>
                <i class="footer-ico04">入仓全检</i>
            </li>
            <li>
                <i class="footer-ico05">自营物流</i>
            </li>
            <li>
                <i class="footer-ico06">线下验真</i>
            </li>
            <li>
                <i class="footer-ico07">假货必赔</i>
            </li>
            <li>
                <i class="footer-ico08">任意退货</i>
            </li>
            <li>
                <i class="footer-ico09">万千信赖</i>
            </li>
            <li>
                <i class="footer-ico10">权威荣誉</i>
            </li>
        </ul>
        <div class="footer-list clear">
            <div class="footer-div left">
                <h4>服务保障</h4>
                <ul>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>正品保证</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>7天无理由放心退</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>退货返10元唯品币</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>7x15小时客户服务</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>7天无理由随心换</a>
                    </li>
                </ul>
            </div>
            <div class="footer-div left">
                <h4>购物指南</h4>
                <ul>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>导购演示</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>订单操作</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>会员注册</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>账户管理</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>收货样品</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>会员等级</a>
                    </li>
                </ul>
            </div>
            <div class="footer-div left ">
                <h4>支付方式</h4>
                <ul>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>快捷支付</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>23家主流网银支付</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>支付宝、银联等支付</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>信用卡支付</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>零钱支付</a>
                    </li>
                </ul>
            </div>
            <div class="footer-div left">
                <h4>配送</h4>
                <ul>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>全场满288元免运费</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>配送范围及运费</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>验货与签收</a>
                    </li>
                </ul>
            </div>
            <div class="footer-div left">
                <h4>售候服务</h4>
                <ul>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>退货政策</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>退货流程</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>退款方式和时效</a>
                    </li>
                    <li>
                        <a href=""> <i class="iconfont icon-dot"></i>换货服务</a>
                    </li>
                </ul>
            </div>
            <div class="footer-div  div-10 left">
                <h4>唯品会APP二维码</h4>

                <img src="https://a.vpimg4.com/upload/actpics/xuangou_daily/help/page_bottom_dl_n.png" alt="" />
                <h4>
                    下载唯品会移动APP
                </h4>
            </div>
        </div>
        <p class="footer-p">
            <a href="" title="关于我们">关于我们</a>|
            <a href="" title="About us">About us</a>|
            <a href="" title="Investor Relations">Investor Relations</a>|
            <a href="" title="媒体报道">媒体报道</a>|
            <a href="" title="品牌招商">品牌招商</a>|
            <a href="" title="隐私条款">隐私条款</a>|
            <a href="" title="唯品诚聘">唯品诚聘</a>|
            <a href="" title="唯品卡">唯品卡</a>|
            <a href="" title="联系我们">联系我们</a>
        </p>
        <p class="footer-p2">
            Copyright © 2008-2019 vip.com，All Rights Reserved&nbsp;&nbsp;使用本网站即表示接受
            <a href="">唯品会用户协议</a>。版权所有
            <a href="">广州唯品会电子商务有限公司</a>
            <br />
            <a href="">
                <img src="https://a.vpimg4.com/upload/actpics/act/sp/police_icon.png" width="14" height="14" style="margin:2px 3px 0 0;" />粤公网安备 44010302111111号 </a>&nbsp;&nbsp;
            <a href="">粤ICP备08114786号</a>
            <a href="">增值业务经营许可证：粤B2-20170777 </a>
            <a href="">网络文化经营许可证：粤网文〔2018〕5030-1743号</a>
            <br />
            <a href="">自营主体经营证照</a>&nbsp;&nbsp;
            <a href="">风险监测信息</a>&nbsp;&nbsp;
            <a href="">互联网药品交易服务资格证（粤C20140002）</a>
            <a href="">互联网药品信息服务资格证书：（粤）-经营性-2018-0271</a>
        </p>
        <p class="footer-p3">
            <a href=""><i class="footer-icon1"></i></a>
            <a href=""><i class="footer-icon2"></i></a>
            <a href=""><i class="footer-icon3"></i></a>
            <a href=""><i class="footer-icon4"></i></a>
            <a href=""><i class="footer-icon5"></i></a>
            <a href=""><i class="footer-icon6"></i></a>
            <a href=""><i class="footer-icon7"></i></a>
        </p>
    </div>
</div>