<!--页面头部-->

<div id="header">
  <!--页面顶部-->
  <div class="headertop clear">
    <div class="navtop clear">
      <div class="hangzou clear">
        <div class="waizi">
          <div class="zi">
            杭州市
          </div>
        </div>

        <div class="jiantou"></div>
        <div class="tap"></div>
        <div class="city">
          <p class="city-p">请选择你所在的收货地区</p>
          <i class="city-cha">X</i>

          <div class="city-wai">
            <div class="tap-shang clear">
              <ul class="shang-ul clear">
                <li class="ul-li1 active">省份</li>
                <li class="ul-li2">城市</li>
              </ul>
            </div>

            <div class="tap-xia clear">
              <ul class="xia-ul-1 clear active">
                <li><a href="">北京市</a></li>
                <li><a href="">天津市</a></li>
                <li><a href="">河北省</a></li>
                <li><a href="">山西省</a></li>
                <li><a href="">内蒙古</a></li>
                <li><a href="">辽宁省</a></li>
                <li><a href="">吉林省</a></li>
                <li><a href="">黑龙江</a></li>
                <li><a href="">上海市</a></li>
                <li><a href="">江苏省</a></li>
                <li><a href="" class="show">浙江省</a></li>
                <li><a href="">安徽省</a></li>
                <li><a href="">福建省</a></li>
                <li><a href="">江西省</a></li>
                <li><a href="">山东省</a></li>
                <li><a href="">河南省</a></li>
                <li><a href="">湖北省</a></li>
                <li><a href="">湖南省</a></li>
              </ul>

              <ul class="xia-ul-2">
                <li><a href="" class="show">杭州市</a></li>
                <li><a href="">宁波市</a></li>
                <li><a href="">温州市</a></li>
                <li><a href="">嘉兴市</a></li>
                <li><a href="">湖州市</a></li>
                <li><a href="">绍兴市</a></li>
                <li><a href="">金华市</a></li>
                <li><a href="">衢州市</a></li>
                <li><a href="">舟山市</a></li>
                <li><a href="">台州市</a></li>
                <li><a href="">丽水市</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <ul class="topnavul clear">
        <li class="topnavul-li1">
          <a href="./login.html">请登录</a>
          <em></em>

          <div class="nihao">
            <i class="ya"></i>
            <div class="nihaoshang">
              您好！&nbsp; <a href="./login.html">[ 请登录]</a>
            </div>
            <div class="nihaoxia clear">
              <ul class="clear">
                <li>
                  <a href="">我的收藏</a>
                </li>
                <li>
                  <a href="">我的订单</a>
                </li>
                <li>
                  <a href="">零钱</a>
                </li>
                <li>
                  <a href="">我的优惠卷</a>
                </li>
                <li>
                  <a href="">我的唯品币</a>
                </li>
                <li>
                  <a href="">唯品金融</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="zhuce">
          <a href="./registor.html">注册</a>
          <em></em>
        </li>
        <li>
          <i class="qiandao"></i>
          <a href="">签到有礼</a>
          <em></em>
        </li>
        <li>
          <a href="">我的订单</a>
          <em></em>
        </li>
        <li class="topnavul-li1 topnavul-li5">
          <a href="">我的特卖</a>
          <div class="jiantou2"></div>
          <em></em>

          <div class="mytemai nihao">
            <i class="ya"></i>
            <p>品牌收藏（0）</p>
            <p>商品收藏（0）</p>
            <p>我的足迹（0）</p>
          </div>
        </li>
        <li class=" topnavul-li1 topnavul-li6 ">
          <a href="">会员俱乐部</a>
          <div class="jiantou2"></div>
          <em></em>
          <div class="huiyuan nihao ">
            <i class="ya"></i>
            <p>俱乐部首页</p>
            <p>唯品币兑换</p>
          </div>
        </li>
        <li class=" topnavul-li1 topnavul-li7 ">
          <a href="">客户服务</a>
          <div class="jiantou2"></div>
          <em></em>
          <div class="lianxi nihao ">
            <i class="ya"></i>
            <p>联系客服</p>
            <p>帮助中心</p>
            <p>服务中心</p>
            <p>知识产权投诉</p>
          </div>
        </li>
        <li class=" topnavul-li1 topnavul-li8">
          <i class="phone"></i>
          <a href="">手机版</a>
          <em></em>
          <div class="erweima nihao">
            <i class="ya"></i>
            <a href=""
              ><img
                src="https://b.appsimg.com/2016/06/17/863/1466134037230.jpg"
                alt=""
            /></a>
            <span>随时逛，及时抢</span>
          </div>
        </li>
        <li class="topnavul-li1 topnavul-li9">
          <a href="">更多</a>
          <div class="jiantou2"></div>

          <div class="moreand nihao">
            <i class="ya"></i>
            <div class="nihao-li br-b">
              <div class="li-title">合作专区</div>
              <ul class="li-item  clear">
                <li><a href="">联名卡申请</a></li>
                <li><a href="">唯品卡</a></li>
                <li><a href="">支付专区</a></li>
              </ul>
            </div>

            <div class="nihao-li">
              <div class="li-title">关于我们</div>
              <ul class="li-item clear">
                <li><a href="">sell on vip </a></li>
                <li><a href="">品牌招商</a></li>
                <li><a href="">官方博客</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--页面logo-->
  <div class="headerlogo">
    <div class="logoinner clear">
      <div class="logo left">
        <div class="logoimg">
          <a href=""
            ><img
              src="https://b.appsimg.com/upload/momin/2019/01/23/101/1548249269085.png"
              alt=""
          /></a>
        </div>
      </div>
      <div class="serve left">
        <img
          src="https://b.appsimg.com/upload/momin/2019/01/10/187/1547114272497.png"
          alt=""
        />
      </div>

      <div class="search left">
        <div class="search-form">
          <input type="text" placeholder="连衣裙" class="" />
          <a href="">
            <i class="iconfont icon-search"></i>
          </a>
        </div>
      </div>
      <div class="cart left">
        <div class="cart-num">
          <i class="iconfont icon-gouwudai-copy"></i>
          <span>购物袋</span>
          <i class="num">0</i>
        </div>
      </div>
    </div>
  </div>
  <!--页面导航-->
  <div class="headernav">
    <div class="navinner clear">
      <ul class="navinner-ul">
        <li class="navinner-li">
          <a href=""> <i class="iconfont icon-leimu"></i> 商品分类 </a>
          <div class="fenleinav">
            <div class="p">
              女装/男装/内衣
              <div class="three">
                <dl class="clear">
                  <dt>人气美衣 <i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">T恤</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>女下装 <i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">休闲裤</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">雪纺衫</a>
                    <a href="">针织衫</a>

                    <a href="">雪纺衫</a>
                    <a href="">针织衫</a>
                    <a href="">小西装</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>特色女装<i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">设计师</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">雪纺衫</a>
                    <a href="">针织衫</a>
                    <a href="">小西装</a>
                    <a href="">雪纺衫</a>
                    <a href="">针织衫</a>
                    <a href="">小西装</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>男上装 <i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">短袖T恤</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">雪纺衫</a>
                    <a href="">针织衫</a>
                    <a href="">小西装</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>男下装 <i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">短裤</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">雪纺衫</a>
                    <a href="">针织衫</a>
                    <a href="">小西装</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>特色男装<i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">中老年</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">雪纺衫</a>
                    <a href="">针织衫</a>
                    <a href="">小西装</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>女士内衣<i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">聚拢文胸</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">防嗮衣</a>
                    <a href="">雪纺衫</a>
                    <a href="">针织衫</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>男士内衣<i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">男士内裤</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">小西装</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">女装</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>秋季上衣 <i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">女士保暖</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">雪纺衫</a>
                    <a href="">针织衫</a>
                    <a href="">小西装</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>特色内衣 <i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">安全裤</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">雪纺衫</a>
                    <a href="">针织衫</a>
                    <a href="">小西装</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>中西医药<i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">T恤</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                  </dd>
                </dl>
              </div>
            </div>
   <!--第一次直接用p标签做二级导航，把三级导航three放在每个p标签之后，弊端就是不能实现一一对应-->
            <div class="p">
              女鞋/男鞋/箱包
              <div class="three">

                <dl class="clear">
                  <dt>人气美衣 <i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">T恤</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>人气美衣 <i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">T恤</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>人气美衣 <i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">T恤</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>人气美衣 <i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">T恤</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>人气美衣 <i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">T恤</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>人气美衣 <i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">T恤</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>人气美衣 <i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">T恤</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                  </dd>
                </dl>
                <dl class="clear">
                  <dt>人气美衣 <i class="iconfont icon-more i2"></i></dt>
                  <dd>
                    <a href="">T恤</a>
                    <a href="">衬衫</a>
                    <a href="">短外套</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                    <a href="">女装</a>
                    <a href="">母婴</a>
                    <a href="">外套</a>
                    <a href="">防嗮衣</a>
                    <a href="">毛衣</a>
                  </dd>
                </dl>



              </div>
            </div>
            <div class="p">
              护肤彩妆/个护
              <div class="three">3</div>
            </div>
            <div class="p">
              运动户外
              <div class="three">4</div>
            </div>
            <div class="p">
              家电数码
              <div class="three">5</div>
            </div>
            <div class="p">
              母婴童装
              <div class="three">6</div>
            </div>
            <div class="p">
              手表配饰
              <div class="three">7</div>
            </div>
            <div class="p">
              居家用品
              <div class="three">8</div>
            </div>
            <div class="p">
              唯品生活
              <div class="three">9</div>
            </div>
            <div class="p">
              唯品国际/唯品奢
              <div class="three">10</div>
            </div>
            <div class="p">
              唯品医药
              <div class="three">11</div>
            </div>
          </div>
        </li>

        <li class="xuanzhong"><a href="index.html">首页</a></li>
        <li><a href="">最后疯抢</a></li>
        <li><a href="">唯品快抢</a></li>
        <li><a href="">女装</a></li>
        <li><a href="">母婴</a></li>
        <li><a href="">家电</a></li>
        <li><a href="">国际</a></li>
        <li><a href="">美妆</a></li>
        <li><a href="">鞋包</a></li>
        <li><a href="">男装</a></li>
        <li><a href="">预告</a></li>
        <li>
          <a href="">更多<i class="iconfont icon-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<script src="./js/header.js"></script>
