
<!--页面头部-->
<div id="header">
        <!--页面顶部-->
        <div class="headertop clear">
          <div class="navtop clear">
            <div class="hangzou clear">
              <div class="waizi">
                <div class="zi">
                  杭州市
                </div>
              </div>
  
              <div class="jiantou"></div>
              <div class="tap"></div>
            </div>
            <ul class="topnavul clear">
              <li>
                <a href="">请登录</a>
                <em></em>
              </li>
              <li>
                <a href="">注册</a>
                <em></em>
              </li>
              <li>
                <i class="qiandao"></i>
                <a href="">签到有礼</a>
                <em></em>
              </li>
              <li>
                <a href="">我的订单</a>
                <em></em>
              </li>
              <li>
                <a href="">我的特卖</a>
                <div class="jiantou2"></div>
                <em></em>
              </li>
              <li>
                <a href="">会员俱乐部</a>
                <div class="jiantou2"></div>
                <em></em>
              </li>
              <li>
                <a href="">客户服务</a>
                <div class="jiantou2"></div>
                <em></em>
              </li>
              <li>
                <i class="phone"></i>
                <a href="">手机版</a>
                <em></em>
              </li>
              <li>
                <a href="">更多</a>
                <div class="jiantou2"></div>
              </li>
            </ul>
          </div>
        </div>
        <!--页面logo-->
        <div class="headerlogo">
          <div class="logoinner clear">
            <div class="logo left">
              <div class="logoimg">
                <a href=""
                  ><img
                    src="https://b.appsimg.com/upload/momin/2019/01/23/101/1548249269085.png"
                    alt=""
                /></a>
              </div>
            </div>
            <div class="serve left">
              <img
                src="https://b.appsimg.com/upload/momin/2019/01/10/187/1547114272497.png"
                alt=""
              />
            </div>
  
            <div class="search left">
              <div class="search-form">
                <input type="text" placeholder="连衣裙" class="" />
                <a href="">
                  <i class="iconfont icon-search"></i>
                </a>
              </div>
            </div>
            <div class="cart left">
              <div class="cart-num">
                <i class="iconfont icon-gouwudai-copy"></i>
                <span>购物袋</span>
                <i class="num">0</i>
              </div>
            </div>
          </div>
        </div>
        <!--页面导航-->
        <div class="headernav">
          <div class="navinner clear">
            <ul class="navinner-ul">
              <li class="navinner-li">
                <a href="">
                  <i class="iconfont icon-leimu"></i>
                  商品分类
                </a>
              </li>
              <li class="xuanzhong"><a href="">首页</a></li>
              <li><a href="">最后疯抢</a></li>
              <li><a href="">唯品快抢</a></li>
              <li><a href="">女装</a></li>
              <li><a href="">母婴</a></li>
              <li><a href="">家电</a></li>
              <li><a href="">国际</a></li>
              <li><a href="">美妆</a></li>
              <li><a href="">鞋包</a></li>
              <li><a href="">男装</a></li>
              <li><a href="">预告</a></li>
              <li>
                <a href="">更多<i class="iconfont icon-down"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>