
<div class="sidebar">
  <ul class="sidebar-con">
    <li class="">
      <div class="icon-wrap">
        <i class="iconfont icon-rentou"></i>
        <span>账号</span>
      </div>
    </li>
    <li>
      <i class="iconfont icon-gouwudai-copy"></i>
      <div class="cart-num">
        <span>购物袋</span>
        <i class="num">0</i>
      </div>
    </li>
    <li>
      <!-- <div class="icon-wrap"> -->
      <i class="iconfont icon-quan"></i>
      <!-- </div> -->
      <div class="huachu-tip"></div>
    </li>
    <li>
      <i class="iconfont icon-xin"></i>
    </li>
    <li>
      <i class="iconfont icon-xing"></i>
    </li>
    <li><i class="iconfont icon-zuji"></i></li>

    <li class="qinabi">
      <i class="iconfont icon-qianbi"></i>
    </li>

    <li class="qinabi go-top">
      <i class="iconfont icon-more-copy"></i>
    </li>
  </ul>
</div>
<script src="./js/sidebar.js"></script>

