#main {
  width: 1425px;
  color: #333;
  display: inline-block; }
#main .maininner {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  padding-top: 15px; }
#main .maininner .pro-list {
  border: 1px solid #dfdfdf;
  border-bottom: none;
  height: 26px;
  line-height: 26px;
  padding: 10px 10px 10px 20px;
  background-color: #fff;
  z-index: 11; }
#main .maininner .pro-list .musen {
  font-size: 16px;
  margin-right: 20px;
  text-overflow: ellipsis;
  white-space: nowrap; }
#main .maininner .pro-list .zheqi {
  font-size: 14px; }
#main .maininner .pro-list .zheqi span {
  font-size: 12px; }
#main .maininner .pro-list .pro-time {
  margin: 0 20px;
  font-size: 10px;
  display: block; }
#main .maininner .pro-list .pro-time i {
  margin-right: 5px;
  vertical-align: top;
  color: #f10582; }
#main .maininner .pro-list .pro-oper {
  margin-top: 2px;
  vertical-align: top; }
#main .maininner .pro-list .pro-oper a {
  padding: 0 8px;
  border: 1px solid #dfdfdf;
  border-radius: 11px;
  height: 20px;
  line-height: 20px;
  display: block;
  color: #f32b80;
  font-size: 12px; }
#main .maininner .pro-list .pro-oper a strong {
  color: #999; }
#main .maininner .prochoose {
  width: 998px;
  z-index: 10;
  border: 1px solid #dfdfdf;
  margin-bottom: 20px; }
#main .maininner .prochoose .pro_search {
  z-index: 12;
  line-height: 22px;
  box-shadow: none; }
#main .maininner .prochoose .pro_search .pro-name {
  float: left;
  width: 86px;
  padding-left: 20px;
  padding-top: 14px;
  color: #666;
  font-size: 12px; }
#main .maininner .prochoose .pro_search .pro-cnt-1 {
  width: 892px;
  background-color: #fff; }
#main .maininner .prochoose .pro_search .pro-cnt-1 ul {
  padding: 13px 30px 1px 0;
  width: 806px; }
#main .maininner .prochoose .pro_search .pro-cnt-1 ul li {
  display: inline-block;
  padding: 0 22px 12px 0; }
#main .maininner .prochoose .pro_search .pro-cnt-1 ul li:nth-child(1) a {
  border: 1px solid #f10180;
  color: #f10180; }
#main .maininner .prochoose .pro_search .pro-cnt-1 ul li a {
  padding: 0 10px;
  display: inline-block;
  color: #666;
  font-size: 12px; }
#main .maininner .prochoose .pro_search .pro-cnt-1 ul li a:hover {
  color: #f10180; }
#main .maininner .prochoose .pro_search .search-1 {
  border-bottom: 1px dashed #ccc;
  display: inline-block; }
#main .maininner .prochoose .pro_search .search-2 {
  display: inline-block; }
#main .maininner .pro-list-chice {
  width: 1000px;
  height: 46px;
  background-color: #f5f5f5;
  position: relative;
  border: 1px solid #dfdfdf;
  z-index: 9; }
#main .maininner .pro-list-chice .list-chice-left {
  height: 46px;
  font-size: 12px;
  color: #666; }
#main .maininner .pro-list-chice .list-chice-left .zonghewai {
  text-align: center;
  cursor: pointer;
  float: left;
  line-height: 46px; }
#main .maininner .pro-list-chice .list-chice-left .zonghewai .zonghe {
  width: 67px;
  height: 46px;
  background-color: #fff;
  color: #f10180;
  border: 1px solid #f10180;
  margin: -1px 0 0 -1px;
  z-index: 10; }
#main .maininner .pro-list-chice .list-chice-left .jiagewai {
  height: 46px;
  z-index: 3;
  text-align: center;
  cursor: pointer;
  float: left;
  border-right: 1px solid #dfdfdf; }
#main .maininner .pro-list-chice .list-chice-left .jiagewai .jiage {
  width: 78px; }
#main .maininner .pro-list-chice .list-chice-left .jiagewai .jiage em {
  display: inline-block;
  margin: 14px 0 0 14px; }
#main .maininner .pro-list-chice .list-chice-left .jiagewai .jiage span {
  display: inline-block;
  position: relative;
  width: 16px;
  color: #999;
  margin-top: 18px; }
#main .maininner .pro-list-chice .list-chice-left .jiagewai .jiage .iconfont {
  line-height: 6px;
  font-weight: bold;
  font-size: 12px;
  display: block; }
#main .maininner .pro-list-chice .list-chice-left .shangpin {
  padding: 15px 15px 15px 20px; }
#main .maininner .pro-list-chice .list-chice-left .shangpin a {
  color: #333; }
#main .maininner .pro-list-chice .list-chice-left .shangpin a span {
  margin-top: -3px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 0;
  line-height: 0; }
#main .maininner .pro-list-chice .list-chice-right {
  padding: 10px 10px 10px 0;
  font-size: 14px; }
#main .maininner .pro-list-chice .list-chice-right a {
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  padding: 0 10px 0 9px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  color: #848585;
  display: inline-block;
  border-radius: 3px; }
#main .maininner .pro-list-chice .list-chice-right em {
  color: #f10180; }
#main .maininner .pro-list-chice .list-chice-right .span1 {
  width: 66px;
  height: 21px;
  margin-right: 22px;
  padding: 4px 10px 10px 0;
  font-size: 14px; }
#main .maininner .pro-list-chice .list-chice-right .span2 {
  font-size: 14px;
  width: 20px;
  height: 21px; }
#main .maininner .pro-list-chice .list-chice-right .span3 {
  padding: 0 9px;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  color: #d1d1d1;
  margin: 0 8px 0 12px;
  display: inline-block;
  border-radius: 3px; }

/*# sourceMappingURL=details.css.map */
