#header {
  width: 1425px;
  height: 190px;
  color: #333;
  position: relative;
  font-size: 12px;
  display: inline-block; }
#header .headertop {
  height: 28px;
  background-color: #f5f5f5; }
#header .headertop .navtop {
  width: 1000px;
  height: 28px;
  margin: 0 auto; }
#header .headertop .navtop .jiantou {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 4px;
  border-color: #999 transparent transparent transparent;
  border-style: solid dashed dotted dashed;
  vertical-align: top; }
#header .headertop .navtop .hangzou {
  float: left;
  position: relative;
  vertical-align: top;
  color: #333; }
#header .headertop .navtop .waizi {
  position: relative;
  width: 46px;
  height: 27px;
  line-height: 27px;
  cursor: pointer;
  border-width: 1px 1px 0;
  z-index: 1;
  padding-left: 15px;
  padding-right: 23px; }
#header .headertop .navtop .topnavul {
  float: right; }
#header .headertop .navtop .topnavul li {
  float: left;
  height: 28px;
  line-height: 28px;
  padding-right: 20px;
  padding-left: 10px;
  position: relative; }
#header .headertop .navtop .topnavul li .qiandao {
  display: inline-block;
  width: 15px;
  height: 18px;
  background: url(../img/2.png) no-repeat;
  margin-right: 3px;
  background-position: -95px -208px; }
#header .headertop .navtop .topnavul li .jiantou2 {
  margin-top: 12px;
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 4px;
  border-color: #999 transparent transparent transparent;
  border-style: solid dashed dotted dashed;
  vertical-align: top; }
#header .headertop .navtop .topnavul li a {
  color: #666; }
#header .headertop .navtop .topnavul li a:hover {
  color: #df147f; }
#header .headertop .navtop .topnavul li em {
  background: url(../img/2.png)-270px -184px no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 6px;
  right: 0; }
#header .headertop .navtop .topnavul li .phone {
  width: 10px;
  height: 14px;
  background: url(../img/2.png) -294px -142px no-repeat;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 3px;
  margin-top: -3px;
  display: inline-block; }
#header .headerlogo {
  height: 100px;
  padding-top: 20px;
  background-color: #fff; }
#header .headerlogo .logoinner {
  width: 1000px;
  height: 100px;
  margin: 0 auto; }
#header .headerlogo .logoinner .logo {
  display: inline;
  position: relative;
  float: left;
  z-index: 1;
  margin-right: 1px;
  min-width: 140px;
  height: 100px; }
#header .headerlogo .logoinner .logo .logoimg {
  margin-left: -20px;
  min-width: 160px;
  overflow: hidden; }
#header .headerlogo .logoinner .logo .logoimg img {
  width: 160px;
  height: 100px; }
#header .headerlogo .logoinner .serve a {
  display: inline-block;
  height: 100px; }
#header .headerlogo .logoinner .serve img {
  vertical-align: top;
  width: 304px;
  height: 100px;
  z-index: 1; }
#header .headerlogo .logoinner .search {
  display: inline;
  position: relative;
  z-index: 10;
  margin-top: 33px;
  width: 389px; }
#header .headerlogo .logoinner .search .search-form {
  position: relative;
  z-index: 2;
  width: 387px;
  height: 32px;
  border: 1px solid #fa2a83;
  border-radius: 2px;
  background-color: #fff; }
#header .headerlogo .logoinner .search .search-form .icon-search {
  font-size: 24px;
  color: #fff; }
#header .headerlogo .logoinner .search .search-form input {
  padding: 2px 12px;
  width: 311px;
  height: 28px;
  line-height: 30px;
  font-size: 14px;
  color: #333;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #fff; }
#header .headerlogo .logoinner .search .search-form a {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 6px;
  width: 53px;
  height: 26px;
  text-align: center;
  background-color: #fa2a83;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
#header .headerlogo .logoinner .cart {
  margin-top: 33px;
  margin-left: 15px;
  width: 96px; }
#header .headerlogo .logoinner .cart .cart-num {
  width: 96px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f6f7f9;
  border-radius: 2px; }
#header .headerlogo .logoinner .cart .cart-num i {
  margin-left: 4px; }
#header .headerlogo .logoinner .cart .cart-num .num {
  top: 8px;
  right: 3px;
  z-index: 1;
  border-radius: 8px;
  height: 16px;
  width: 24px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  background-color: #f00581;
  display: inline-block; }

.headernav {
  position: relative;
  top: 3px;
  z-index: 3; }
.headernav .navinner {
  width: 1000px;
  margin: 0 auto; }
.headernav .navinner .navinner-ul {
  height: 43px; }
.headernav .navinner .navinner-ul > li {
  height: 43px;
  font-size: 16px;
  line-height: 43px;
  text-align: center;
  float: left;
  padding: 0 10px; }
.headernav .navinner .navinner-ul > li .icon-down {
  font-size: 12px;
  padding-left: 4px; }
.headernav .navinner .navinner-ul > li a {
  color: #333; }
.headernav .navinner .navinner-ul > li.xuanzhong a {
  color: #df147f;
  font-weight: bolder; }
.headernav .navinner .navinner-ul > li.navinner-li {
  background-color: #f10180;
  width: 156px;
  height: 43px;
  margin-right: 20px; }
.headernav .navinner .navinner-ul > li.navinner-li .icon-leimu {
  font-size: 14px;
  font-weight: bold;
  margin-right: 4px; }
.headernav .navinner .navinner-ul > li.navinner-li a {
  color: #fff; }

/*# sourceMappingURL=header.css.map */
