.headerlogo {
  width: 1425px;
  height: 100px;
  padding-top: 20px;
  background-color: #fff; }
.headerlogo .logoinner {
  position: relative;
  width: 1000px;
  height: 100px;
  margin-right: auto;
  margin-left: auto; }
.headerlogo .logoinner .logo {
  display: inline;
  position: relative;
  float: left;
  z-index: 1;
  margin-right: 1px;
  min-width: 140px;
  height: 100px; }
.headerlogo .logoinner .logo .logoimg {
  margin-left: -20px;
  min-width: 160px;
  overflow: hidden; }
.headerlogo .logoinner .logo .logoimg img {
  width: 160px;
  height: 100px; }
.headerlogo .logoinner .serve {
  background: url(https://member-ssl.vipstatic.com/img/passport/sprites-hash-21600f5c.png?131e7010) 0 0 no-repeat;
  width: 304px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0; }

.bgimg {
  background-image: url(https://a.vpimg2.com/upload/flow/2019/01/29/88/15487540172274.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  height: 650px;
  width: 1425px; }
.bgimg .content {
  margin-right: auto;
  margin-left: auto;
  padding: 50px 20px;
  min-height: 550px;
  width: 1000px;
  background-color: bisque; }
.bgimg .content .denglu {
  width: 360px;
  height: 451px;
  border-radius: 2px;
  background-color: #fff; }
.bgimg .content .denglu .from {
  width: 360px; }
.bgimg .content .denglu .from .nav {
  border-bottom: 1px solid #e0e0e0;
  font-size: 0; }
.bgimg .content .denglu .from .nav .navleft {
  position: relative;
  display: inline-block;
  width: 180px;
  vertical-align: top;
  text-align: center;
  color: #666;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  cursor: pointer;
  overflow: hidden; }
.bgimg .content .denglu .from .nav .navleft i {
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 1;
  width: 1px;
  height: 20px;
  background-color: #ccc;
  content: '';
  font-size: 0;
  line-height: 0; }
.bgimg .content .denglu .from .nav .navright {
  width: 180px;
  vertical-align: top;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: #f10180;
  cursor: default;
  overflow: hidden; }
.bgimg .content .denglu .from .input {
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  height: 297px; }
.bgimg .content .denglu .from .input .first {
  position: relative;
  display: inline-block;
  vertical-align: top; }
.bgimg .content .denglu .from .input .first input {
  padding-left: 40px;
  width: 248px;
  height: 32px;
  line-height: 32px;
  padding: 6px 10px;
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  outline: 0; }
.bgimg .content .denglu .from .input .waiceng {
  width: 300px;
  height: 40px;
  color: #333;
  font-size: 12px; }
.bgimg .content .denglu .from .input .waiceng .jizhu {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }
.bgimg .content .denglu .from .input .waiceng .jizhu input {
  width: 19px;
  height: 16px; }
.bgimg .content .denglu .from .input .waiceng .jizhu span {
  width: 64px;
  height: 16px;
  display: block; }

.footer {
  width: 1425px;
  font-size: 12px; }
.footer .foot {
  width: 1000px;
  margin: 0 auto;
  height: 78px;
  line-height: 78px; }
.footer .foot p {
  color: #666;
  text-align: center; }

/*# sourceMappingURL=login.css.map */
