@charset "utf-8";
$width: 1000px;
$height: 28px;
$bgcolor: orange;
$baseColor: #df147f;
$margin: 0 auto;
$font: 12px;
@mixin jiantou($width) {
  display: inline-block;
  width: 0;
  height: 0;
  border-width: $width;
  border-color: #999 transparent transparent transparent;
  border-style: solid dashed dotted dashed;
  vertical-align: top;
}
@mixin wh($w,$h){
    width: $w;
    height: $h;
}
@mixin sc($s,$c){
    font-size: $s;
    color:$c;
}