@charset "utf-8";
@import "./_base";
#footer {
  width: 1425px;
  .footerinner {
    width: 960px;
    margin: $margin;
    .footer-list {
      overflow: hidden;
      zoom: 1;
      margin: 37px 0 25px;
      .footer-div {
        width: 145px;
        height: 146px;
        padding-left: 16px;
        border-right: 1px solid #e0e0e0;
        &.div-10 {
          border-right: none;
          width: 116px;
        }
        li {
          margin-left: -5px;
          margin-top: 4px;
        }
      }
      h4 {
        margin-bottom: 4px;
        color: #4d4d4d;
        font-size: 12px;
        font-weight: 100;
      }
      a {
        font-size: 12px;
        color: grey;
        &:hover {
          color: $baseColor;
        }
      }
    }
    .footer-vip > li {
      float: left;
      i {
        display: block;
        margin-top: 30px;
        margin-right: 28px;
        margin-left: 10px;
        width: 58px;
        height: 75px;
        font-size: 0;
        text-indent: -100%;
        background: url(http://shop.vipstatic.com/img/common/footer_vip_iconsv_0705-hash-728f749a.png?357db4e8)
          no-repeat 0 0;
        &.footer-ico01 {
          background-position: 0 0;
        }
        &.footer-ico02 {
          background-position: -80px 0;
        }
        &.footer-ico03 {
          background-position: -160px 0;
        }
        &.footer-ico04 {
          background-position: -240px 0;
        }
        &.footer-ico05 {
          background-position: -320px 0;
        }
        &.footer-ico06 {
          background-position: -400px 0;
        }
        &.footer-ico06 {
          background-position: -480px 0;
        }
        &.footer-ico07 {
          background-position: -560px 0;
        }
        &.footer-ico08 {
          background-position: -640px 0;
        }
        &.footer-ico09 {
          background-position: -720px 0;
        }
        &.footer-ico010 {
          background-position: -800px 0;
        }
      }
    }
    .footer-p {
      background-color: #d7237e;
      line-height: 30px;
      color: #fff;
      text-align: center;

      font-size: 12px;
      a {
        margin-left: 2px;
        margin-right: 2px;
        color: #fff;
        font-size: 12px;
        &:hover {
          color: #ccc;
        }
      }
    }
    .footer-p2 {
      color: #999;
      margin: 14px 0;
      line-height: 19px;
      font-size: 12px;
      text-align: center;

      a {
        color: grey;
        font-size: 12px;
        &:hover {
          color: $baseColor;
        }
      }
    }

    .footer-p3 {
      margin: 0 auto;
      width: 960px;
      height: 40px;
      text-align: center;
      overflow: hidden;
      a {
        &:nth-child(1) i {
          width: 105px;
          background-position: 0 0;
        }
        &:nth-child(2) i {
          width: 99px;
          background-position: 0 -150px;
        }
        &:nth-child(3) i {
            width: 66px;
            background-position: 0 -200px;
        
          }
          &:nth-child(4) i {
            width: 70px;
            background-position: 0 -250px;
          }
          &:nth-child(5) i {
            width: 75px;
            background-position: 0 -300px;
          }
          &:nth-child(6) i {
            width: 76px;
            background-position: 0 -400px;
          }
          &:nth-child(7) i {
            width: 76px;
            background-position: 0 -450px;
          }
        i {
          margin-right: 9px;
          height: 40px;
          display: inline-block;
          background: url(http://shop.vipstatic.com/img/common/footer-hash-3de6f1ae.png?939748fb)
            no-repeat;
        }
      }
    }
  }
}
