@charset "utf-8";
$width:1000px;
$height:28px;
$bgcolor:orange;
$margin:0 auto;
$font:12px;
@mixin jiantou($width) {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: $width;
    border-color: #999 transparent transparent transparent;
    border-style: solid dashed dotted dashed;
    vertical-align: top;
    
}

#header {
    width: 1425px;
    height: 191px;
    background-color: pink;
    color: #333;
    position: relative;
    font-size: $font;
    display: inline-block;
    .headertop {
        height: $height;
        // background-color: #fff;
        background-color: #f5f5f5;
        .navtop {
            width: $width;
            height: $height;
            margin: $margin;
            .jiantou {
                position: absolute;
                top: 10px;
                right: 10px;
                @include jiantou(4px);
            }
            .hangzou {
                float: left;
                position: relative;
                vertical-align: top;
                color: #333;
            }
            .waizi {
                position: relative;
                width: 46px;
                height: 27px;
                line-height: 27px;
                cursor: pointer;
                border-width: 1px 1px 0;
                // border-style: solid;
                // border-color: #f5f5f5;
                z-index: 1;
                padding-left: 15px;
                padding-right: 23px;
            }
            .topnavul {
                float: right;
                li {
                    float: left;
                    height: $height;
                    line-height: 28px;
                    padding-right: 20px;
                    padding-left: 10px;
                    position: relative;
                    &:nth-child(1) {
                        // border: transparent 1px solid;
                    }
                    &:nth-child(2) {}
                    &:nth-child(3) {
                        .qiandao {
                            // position: relative;
                            // top: 2px;
                            display: inline-block;
                            width: 15px;
                            height: 18px;
                            background: url(../img/2.png) no-repeat;
                            margin-right: 3px;
                            background-position: -95px -208px
                        }
                        // .wp-sign-icon {
                        //     position: relative;
                        //     top: 2px;
                        //     display: inline-block;
                        //     width: 15px;
                        //     height: 18px;
                        //     background: url(//shop.vipstatic.com/img/common/header_sign-hash-0459d02c.gif?3c0ef42f) no-repeat;
                        //     margin-right: 3px
                        // }
                        // .wp-sign-icon-static {
                        //     background-image: url(//shop.vipstatic.com/img/common/header/sprites-hash-b45bfef8.png?b3c54ac4);
                        //     background-position: -95px -208px
                        // }
                        // .wp-sign-tip {
                        //     position: absolute;
                        //     top: 20px;
                        //     left: 4px;
                        //     width: 80px;
                        //     height: 18px;
                        //     line-height: 18px;
                        //     text-align: center;
                        //     background-color: #f10180;
                        //     color: #fff;
                        //     border-radius: 9px;
                        //     -webkit-transition: All .4s ease-in-out;
                        //     transition: All .4s ease-in-out;
                        //     opacity: 0;
                        //     display: none\9
                        // }
                        // .wp-sign-tip-in {
                        //     top: 4px;
                        //     opacity: 1;
                        //     display: block\9
                        // }
                    }
                    .jiantou2 {
                        margin-top: 12px;
                        @include jiantou(4px);
                    }
                    a {
                        color: #666;
                    }
                    em {
                        background: url(../img/2.png)-270px -184px no-repeat;
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        top: 6px;
                        right: 0;
                    }
                }
            }
        }
    }
    .headerlogo {
        height: 120px;
        .logoinner {
            width: $width;
            height: 100px;
            // background-color: blueviolet;
            margin: $margin;
            .logo {
                display: inline;
                position: relative;
                float: left;
                z-index: 1;
                margin-right: 1px;
                min-width: 140px;
                height: 100px;
                .logoimg {
                    margin-left: -20px;
                    min-width: 160px;
                    overflow: hidden;
                    img {
                        width: 160px;
                        height: 100px;
                    }
                }
            }
            .serve {
                background: 0 0;
                a {
                    display: inline-block;
                    position: relative;
                    z-index: 2;
                    height: 100px;
                }
                img {
                    width: 304px;
                    height: 100px;
                    position: absolute;
                    z-index: 1;
                }
            }
            .search {
                display: inline;
                position: relative;
                z-index: 10;
                margin-top: 33px;
                width: 389px;
                float: right;
                .search-form {
                    position: relative;
                    z-index: 2;
                    width: 387px;
                    height: 32px;
                    border: 1px solid #fa2a83;
                    border-radius: 2px;
                    background-color: #fff;
                    input {
                        padding: 2px 12px;
                        margin-top: -1px;
                        width: 311px;
                        height: 28px;
                        line-height: 30px;
                        font-size: 14px;
                        color: #333;
                        border: none;
                        border-top-left-radius: 2px;
                        border-bottom-left-radius: 2px;
                        background-color: #fff;
                    }
                    a {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding-top: 6px;
                        width: 53px;
                        height: 26px;
                        text-align: center;
                        background-color: #fa2a83;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
            }
        }
    }
}

.headernav {
    height: 43px;
    .navinner {
        width: $width;
        height: 43px;
        background-color: gold;
        margin: $margin;
    }
}

#main {
    width: 1425px;
    background-color: gray;
    .section_1 {
        height: 442px;
        .banner {
            width: $width;
            height: 392px;
            background-color: green;
            margin: $margin;
        }
    }
    .section_2 {
        height: 457px;
        .banner-2 {
            width: $width;
            height: 457px;
            background-color: yellow;
            margin: $margin;
        }
    }
    .section_3 {
        height: 3000px;
        .banner-3 {
            width: $width;
            height: 3000px;
            background-color: blue;
            margin: $margin;
        }
    }
}

#footer {
    width: 1425px;
    height: 477px;
    background-color: turquoise;
    .footerinner {
        width: $width;
        height: 428px;
        background-color: brown;
        margin: $margin;
    }
}