@charset "utf-8";
@import "./_base";

#header {
    width: 1425px;
    height: 190px;
    color: #333;
    position: relative;
    font-size: $font;
    display: inline-block;

    .headertop {
        height: $height;
        background-color: #f5f5f5;

        .navtop {
            width: $width;
            height: $height;
            margin: $margin;
            position: relative;



            .jiantou {
                position: absolute;
                top: 10px;
                right: 10px;
                @include jiantou(4px);
            }

            .hangzou {
                float: left;
                position: relative;
                vertical-align: top;
                color: #333;

                .waizi {
                    position: relative;
                    width: 46px;
                    height: 27px;
                    line-height: 27px;
                    cursor: pointer;
                    border-width: 1px 1px 0;
                    z-index: 1;
                    padding-left: 15px;
                    padding-right: 23px;
                }

                .city {
                    position: absolute;
                    top: 28px;
                    left: 0;
                    padding-right: 15px;
                    padding-left: 15px;
                    width: 470px;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    z-index: 1111;
                    display: none;

                    .city-cha {
                        position: absolute;
                        right: 26px;
                        top: 10px;
                        font-size: 18px;
                    }

                    &.show {
                        display: block;
                    }

                    & a {
                        color: #333;
                    }

                    .city-p {
                        padding: 8px 0;
                    }

                    .tap-shang {
                        height: 29px;

                        .shang-ul {
                            width: 470px;
                            height: 30px;

                            li {
                                // position: relative;
                                // z-index: 2;
                                // font-weight: 700;
                                // background-color: #fff;
                                display: inline;
                                float: left;
                                margin-left: -1px;
                                width: 68px;
                                text-align: center;
                                cursor: pointer;
                                line-height: 28px;
                                vertical-align: top;
                                border: 1px solid #ccc;
                                background-color: #f8f8f8;

                                &.active {
                                    background-color: #fff;
                                    border-top: 2px solid #f10180;
                                    border-bottom: none;
                                }
                            }
                        }
                    }

                    .tap-xia {
                        padding: 20px 13px 18px;
                        border-top: 1px solid #ccc;

                        a {
                            display: inline-block;
                            padding-right: 10px;
                            padding-left: 10px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            line-height: 20px;
                            border: 1px solid #fff;

                            &:hover {
                                border: 1px solid #f10180;
                                color: #f10180;
                            }
                        }

                        .xia-ul-1 {
                            width: 408px;

                            li {
                                width: 68px;
                                float: left;
                                margin-bottom: 2px;
                            }
                        }

                        .xia-ul-2 {
                            width: 412px;
                            display: none;

                            li {
                                width: 103px;
                                float: left;
                                margin-bottom: 2px;
                            }
                        }

                        .xia-ul-1 a.show,
                        .xia-ul-2 a.show {
                            color: #fff;
                            background-color: #f10180;
                        }
                    }
                }
            }

            .topnavul {
                float: right;

                >li {
                    float: left;
                    height: $height;
                    line-height: 28px;
                    padding-right: 20px;
                    padding-left: 10px;
                    position: relative;
                    border: 1px solid transparent;

                    & .qiandao {
                        display: inline-block;
                        width: 15px;
                        height: 18px;
                        background: url(https://shop.vipstatic.com/img/common/header_sign-hash-0459d02c.gif) no-repeat;
                        margin-right: 3px;
                    }

                    // .wp-sign-icon {
                    //     position: relative;
                    //     top: 2px;
                    //     display: inline-block;
                    //     width: 15px;
                    //     height: 18px;
                    //     background: url(//shop.vipstatic.com/img/common/header_sign-hash-0459d02c.gif?3c0ef42f) no-repeat;
                    //     margin-right: 3px
                    // }
                    // .wp-sign-icon-static {
                    //     background-image: url(//shop.vipstatic.com/img/common/header/sprites-hash-b45bfef8.png?b3c54ac4);
                    //     background-position: -95px -208px
                    // }
                    // .wp-sign-tip {
                    //     position: absolute;
                    //     top: 20px;
                    //     left: 4px;
                    //     width: 80px;
                    //     height: 18px;
                    //     line-height: 18px;
                    //     text-align: center;
                    //     background-color: #f10180;
                    //     color: #fff;
                    //     border-radius: 9px;
                    //     -webkit-transition: All .4s ease-in-out;
                    //     transition: All .4s ease-in-out;
                    //     opacity: 0;
                    //     display: none\9
                    // }
                    // .wp-sign-tip-in {
                    //     top: 4px;
                    //     opacity: 1;
                    //     display: block\9
                    // }
                    .jiantou2 {
                        margin-top: 12px;
                        @include jiantou(4px);
                    }

                    a {
                        color: #666;

                        &:hover {
                            color: $baseColor;
                        }
                    }

                    em {
                        background: url(../img/2.png)-270px -184px no-repeat;
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        top: 6px;
                        right: 0;
                    }

                    .phone {
                        width: 10px;
                        height: 14px;
                        background: url(../img/2.png) -294px -142px no-repeat;
                        vertical-align: middle;
                        margin-left: 1px;
                        margin-right: 3px;
                        margin-top: -3px;
                        display: inline-block;
                    }
                }

                .topnavul-li1 {
                    &.active {
                        border: 1px solid #ccc;
                        background-color: #fff;
                        border-bottom: transparent;

                        .nihao {
                            display: block;
                            border: 1px solid #ccc;

                            p:hover {
                                color: #f10180;

                            }
                        }

                        em {
                            display: none;
                        }
                    }

                    .nihao {
                        width: 280px;
                        height: 175px;
                        color: #333;
                        position: absolute;
                        background-color: #fff;
                        z-index: 111;
                        display: none;
                        left: -1px;
                        top: 27px;

                        .ya {
                            position: absolute;
                            width: 67px;
                            height: 2px;
                            background-color: #fff;
                            top: -1px;
                            left: 0;
                        }

                        .nihaoshang {
                            padding-top: 25px;
                            padding-left: 20px;
                            border-bottom: 1px dashed #ddd;
                        }

                        .nihaoxia {
                            ul {
                                padding-top: 3px;
                                padding-left: 25px;

                                li {
                                    width: 120px;
                                    float: left;
                                    padding: 3px 0;
                                }
                            }
                        }
                    }
                }

                .topnavul-li5 {
                    .mytemai {
                        position: absolute;
                        z-index: 111;
                        width: 120px;
                        height: 100px;
                        background-color: #fff;
                        border: 1px solid #ccc;
                        border-top: 0;
                        text-align: center;
                        padding-top: 4px;

                        .ya {
                            width: 90px;
                        }

                        p {
                            width: 100px;
                            padding: 0px 5px;

                        }
                    }
                }

                .topnavul-li6 {
                    .huiyuan {
                        width: 102px;
                        height: 70px;
                        padding-top: 5px;

                        p {
                            padding-left: 10px;
                        }

                        .ya {
                            width: 102px;
                        }

                    }
                }

                .topnavul-li7 {
                    .lianxi {
                        width: 90px;
                        height: 120px;
                        padding-top: 5px;

                        p {
                            padding-left: 10px;
                        }

                        .ya {
                            width: 90px;
                        }
                    }
                }

                .topnavul-li8 {
                    .nihao {
                        left: -107px;
                    }

                    .erweima {
                        width: 190px;
                        height: auto;
                        padding-top: 20px;
                        text-align: center;

                        img {
                            width: 160px;
                            height: 160px;
                            display: block;
                            padding-left: 19px;
                        }

                        .ya {
                            width: 84px;
                            left: 106px;
                        }

                        span {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }

                .topnavul-li9 {
                    .nihao {
                        left: -215px;
                        width: 280px;
                        height: auto;
                        padding-top: 10px;
                        text-align: center;

                        .ya {
                            width: 66px;
                            left: 214px;
                        }
                        .nihao-li{
                            margin:0 20px;
                            padding:10px 0;
                            &.br-b{
                                border-bottom:1px solid #ccc; 
                            }
                        }
                        .li-title{
                            font-weight: bold;
                            font-size: 14px;
                            color: #000;
                            text-align: left;
                        }
                        .li-item{
                            // width: 280px;
                            // padding: 5px  0;
                            >li{
                                float: left;
                                width: 60px;
                                font-size: 12px;
                                color: #333;
                            }
                            
                        }
                    }
                }
            }
        }
    }

    .headerlogo {
        height: 100px;
        padding-top: 20px;
        background-color: #fff;

        .logoinner {
            width: $width;
            height: 100px;
            margin: $margin;
            .logo {
                display: inline;
                position: relative;
                float: left;
                z-index: 1;
                margin-right: 1px;
                min-width: 140px;
                height: 100px;
                .logoimg {
                    margin-left: -20px;
                    min-width: 160px;
                    overflow: hidden;

                    img {
                        width: 160px;
                        height: 100px;
                    }
                }
            }
            .serve {
                a {
                    display: inline-block;
                    height: 100px;
                }

                img {
                    vertical-align: top;
                    width: 304px;
                    height: 100px;
                    z-index: 1;
                }
            }

            .search {
                width: 389px;
                display: inline;
                position: relative;
                z-index: 10;
                margin-top: 33px;
                .search-form {
                    position: relative;
                    z-index: 2;
                    width: 387px;
                    height: 32px;
                    border: 1px solid #fa2a83;
                    border-radius: 2px;
                    background-color: #fff;
                    .icon-search {
                        @include sc(24px, #fff);
                    }
                    input {
                        padding: 2px 12px;
                        width: 311px;
                        height: 28px;
                        line-height: 30px;
                        font-size: 14px;
                        color: #333;
                        border: none;
                        border-top-left-radius: 2px;
                        border-bottom-left-radius: 2px;
                        background-color: #fff;
                    }
                    a {
                        position: absolute;
                        top:0;
                        right:0;
                        padding-top:6px;
                        width:53px;
                        height:26px;
                        text-align:center;
                        background-color: #fa2a83;
                        border-top-right-radius:0;
                        border-bottom-right-radius:0;
                    }
                }
            }
            .cart {
                margin-top: 33px;
                margin-left: 15px;
                width: 96px;
                .cart-num {
                    width: 96px;
                    height: 32px;
                    line-height: 32px;
                    cursor: pointer;
                    border: 1px solid #ccc;
                    background-color: #f6f7f9;
                    border-radius: 2px;
                    i {
                        margin-left: 4px;
                    }
                    .num {
                        top: 8px;
                        right: 3px;
                        z-index: 1;
                        border-radius: 8px;
                        height: 16px;
                        width: 24px;
                        line-height: 16px;
                        color: #fff;
                        text-align: center;
                        background-color: #f00581;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.headernav {
    position: relative;
    top: 5px;
    z-index: 3;
    ;

    .navinner {
        width: $width;
        margin: $margin;

        .navinner-ul {
            height: 43px;
            position: relative;
            .fenleinav{
                width: 176px;
                height: 570px;
                background-color: #f10180;
                position: absolute;
                left: 0px;
                top: 43px;
                z-index:9999 ;
                display: none;
                .p{
                    text-align: center;
                    padding: 5px;   
                    height: 40px;
                    line-height: 40px;
                    width: 176px;
                    color: #fff;
                    font-size: 14px;
                    font-weight: lighter;
                    &.active{
                        background-color: #fff;
                        color: #f10180;
                    }
             
                }
                .three{
                    position: absolute;
                    width: 570px;
                    padding:0px 200px 20px 30px;
                    height: 548px;
                    background-color: #fff;
                    color: #333;
                    font-weight: normal;
                    font-size: 12px;
                    z-index:9999 ;
                    left: 176px;
                    top: 2px;
                    display: none;
                    overflow-y:scroll;
                    // overflow: hidden;
                    dl{
                        border-bottom: 1px solid #eee;
                        &:nth-child(11){
                            border-bottom:none;
                        }
                        padding: 10px 0;
                        line-height: 20px;
                        dt{
                            text-align: left;
                            float: left;
                            width: 80px;
                            i{
                                float: right;
                                font-size: 12px;
                                transform: scale(.6);
                            }
                        }
                        dd{
                            width: 460px;
                            text-align: center;
                            float: right;
                            a{
                                font-size: 12px;
                                float: left;
                                width: 50px;
                                display: block;
                                color: #999;
                                &:hover{
                                    color: #f10180;
                                }
                            }
                        }
        
                    }
                }
            }
        }

        .navinner-ul>li {
            height: 43px;
            font-size: 16px;
            line-height: 43px;
            text-align: center;
            float: left;
            padding: 0 10px;

            .icon-down {
                font-size: 12px;
                padding-left: 4px;
            }

            a {
                color: #333;
            }

            &.xuanzhong {
                a {
                    color: $baseColor;
                    font-weight: bolder;
                }
            }

            &.navinner-li {
                background-color: #f10180;
                width: 156px;
                height: 43px;
                margin-right: 20px;

                .icon-leimu {
                    font-size: 14px;
                    font-weight: bold;
                    margin-right: 4px;
                }

                a {
                    color: #fff;
                }
            }
        }
    }
}