@charset "utf-8";
@import "./_base";
.headerlogo {
    width: 1425px;
    height: 100px;
    padding-top: 20px;
    .logoinner {
        position: relative;
        width: $width;
        height: 100px;
        margin-right: auto;
        margin-left: auto;
        .logo {
            display: inline;
            position: relative;
            float: left;
            z-index: 1;
            margin-right: 1px;
            min-width: 140px;
            height: 100px;
            .logoimg {
                margin-left: -20px;
                min-width: 160px;
                overflow: hidden;
                img {
                    width: 160px;
                    height: 100px;
                }
            }
        }
        .serve {
            background: url(https://member-ssl.vipstatic.com/img/passport/sprites-hash-21600f5c.png?131e7010) 0 0 no-repeat;
            width: 304px;
            height: 100px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.bgimg {
    background-image: url(https://a.vpimg2.com/upload/flow/2019/01/29/88/15487540172274.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    height: 650px;
    width: 1425px;
    .content {
        margin-right: auto;
        margin-left: auto;
        padding: 50px 20px;
        min-height: 550px;
        width: 1000px;
        .denglu {
            width: 360px;
            border-radius: 2px;
            background-color: #fff;
            .from {
                width: 360px;
                .nav {
                    border-bottom: 1px solid #e0e0e0;
                    font-size: 0;
                    .navleft {
                        position: relative;
                        display: inline-block;
                        width: 180px;
                        vertical-align: top;
                        text-align: center;
                        color: #666;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 50px;
                        cursor: pointer;
                        overflow: hidden;
                        i {
                            position: absolute;
                            top: 15px;
                            right: 0;
                            z-index: 1;
                            width: 1px;
                            height: 20px;
                            background-color: #ccc;
                            content: "";
                            font-size: 0;
                            line-height: 0;
                        }
                    }
                    .navright {
                        width: 180px;
                        vertical-align: top;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 50px;
                        color: #f10180;
                        cursor: default;
                        overflow: hidden;
                    }
                }
                .input {
                    margin-right: auto;
                    margin-left: auto;
                    width: 300px;
                    height: 297px;
                    padding-top: 10px;
                    .first {
                        width: 300px;
                        margin-top: 30px;
                        position: relative;
                        display: inline-block;
                        border: 1px solid #b2b2b2;
                        border-radius: 3px;
                        &.noborder {
                            border: 0;
                            // margin-top:10px;
                        }
                        .iconfont {
                            margin: 0 0 0 10px;
                            // line-height: 42px;
                            font-size: 12px;
                            color: #aaa;
                        }
                        input {
                            width: 248px;
                            height: 44px;
                            line-height: 44px;
                            border: 0;
                        }
                    }
                    .waiceng {
                        width: 300px;
                        height: 40px;
                        color: #333;
                        font-size: 12px;
                        .wangji {
                            a {
                                color: #333;
                                &:hover {
                                    color: #f10180;
                                }
                            }
                        }
                        .jizhu {
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 5px;
                            // width: 19px;
                            // height: 16px;
                            input {
                                width: 19px;
                                height: 16px;
                            }
                            span {
                                width: 64px;
                                height: 16px;
                                display: block;
                            }
                        }
                    }
                    .btn {
                        height: 46px;
                        padding: 0;
                        .btn-submit {
                            overflow: hidden;
                            border: 0;
                            display: inline-block;
                            border-radius: 3px;
                            text-decoration: none;
                            text-align: center;
                            min-width: 72px;
                            background-color: #f10180;
                            color: #fff;
                            margin-top: 4px;
                            width: 300px;
                            cursor: pointer;
                            outline: 0;
                            height: 46px;
                        }
                    }
                }
                .other-login {
                    padding: 0 30px;
                    .icon-weixin {
                        margin-bottom: 12px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        position: relative;
                        a {
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            span {
                                background-image: url(https://member-ssl.vipstatic.com/img/passport/sprites-hash-21600f5c.png?131e7010);
                                background-position: -308px -161px;
                                width: 40px;
                                height: 40px;
                                display: inline-block;
                                position: relative;
                            }
                        }
                        .icon-line {
                            display: inline-block;
                            height: 1px;
                            background: #ddd;
                            width: 100%;
                            position: absolute;
                            left: 0;
                            top: 19px;
                        }
                        .iconfont {
                            margin: 0 10px;
                            font-size: 30px;
                            z-index: 2;
                            background: #fff;
                            position: relative;
                            padding: 0 10px;
                        }
                    }
                    .link-common {
                        color: #333;
                        font-size: 12px;
                        padding-bottom: 10px;
                        ul>li {
                            float: left;
                            padding: 0 10px;
                            height: 24px;
                            line-height: 24px;
                            &:first-child {
                                padding-left: 0;
                            }
                            &:nth-child(1),
                            &:nth-child(2) {
                                position: relative;
                                i.line {
                                    display: block;
                                    height: 10px;
                                    position: absolute;
                                    right: 0;
                                    top: 6px;
                                    ;
                                    border-right: 1px solid #e0e0e0;
                                }
                            }
                            &:nth-child(4) {
                                padding: 0 20px 0 30px;
                                color: #999;
                                .iconfont {
                                    font-size: 12px;
                                    color: #999;
                                    margin-left: 6px;
                                    font-weight: bold;
                                }
                                .more {
                                    display: block;
                                }
                                .shouqi {
                                    display: none;
                                }
                                &.active {
                                    display: block;
                                    .more {
                                        display: none;
                                    }
                                    .shouqi {
                                        display: block;
                                    }
                                }
                            }
                            &:nth-child(5) {
                                padding: 0;
                                float: right;
                            }
                        }
                    }
                    .login-links {
                        color: #333;
                        font-size: 12px;
                        display: none;
                        &.active {
                            display: block;
                        }
                        li {
                            float: left;
                            padding: 0 10px;
                            height: 24px;
                            line-height: 24px;
                            position: relative;
                            padding: 0 12px 10px;
                            &:first-child {
                                padding-left: 0;
                            }
                            &:last-child {
                                padding-left: 0;
                                padding-right: 0;
                            }
                            i.line {
                                display: block;
                                height: 10px;
                                position: absolute;
                                right: 0;
                                top: 6px;
                                ;
                                border-right: 1px solid #e0e0e0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    width: 1425px;
    font-size: 12px;
    .foot {
        width: 1000px;
        margin: 0 auto;
        height: 78px;
        line-height: 78px;
        p {
            color: #666;
            text-align: center;
        }
    }
}